SWIFTSERVE_GITHUB_APP_ID=
SWIFTSERVE_GITHUB_PRIVATE_KEY=
SWIFTSERVE_GITHUB_WEBHOOK_SECRET=
SWIFTSERVE_GITHUB_WEBHOOK_SECRET_PREVIOUS=
SWIFTSERVE_GITHUB_GATE=
SWIFTSERVE_GITHUB_MAX_PAYLOAD_BYTES=
SWIFTSERVE_GITHUB_WORKER_CAPACITY=
SWIFTSERVE_GITHUB_INSTALLATION_CONCURRENCY=
SWIFTSERVE_GITHUB_LEASE_SECONDS=
SWIFTSERVE_GITHUB_RETENTION_SECONDS=
SWIFTSERVE_GITHUB_JOB_STORE=
SWIFTSERVE_GITHUB_MAX_LOCKFILE_BYTES=
SWIFTSERVE_GITHUB_MAX_POLICY_BYTES=
SWIFTSERVE_GITHUB_MAX_RESPONSE_BYTES=
SWIFTSERVE_GITHUB_CONNECT_TIMEOUT_SECONDS=
SWIFTSERVE_GITHUB_REQUEST_TIMEOUT_SECONDS=
SWIFTSERVE_GITHUB_RETRY_MAX_ATTEMPTS=
SWIFTSERVE_GITHUB_RETRY_MAX_ELAPSED_SECONDS=
SWIFTSERVE_GITHUB_API_URL=
HOST=
PORT=
